<b-form @submit="authLogin" @reset="reset">
  <b-form-group id="usernameInput"
                label="Ваш username:"
                label-for="usernameInput">
    <b-form-input id="usernameInput"
                  type="text"
                  v-model="form.username"
                  required
                  placeholder="Введите username">
    </b-form-input>
  </b-form-group>
  </b-form-group>
  <b-form-group id="passwordInput"
                label="Пароль:"
                label-for="passwordInput">
    <b-form-input id="passwordInput"
                  type="password"
                  required
                  v-model="form.password"
                  placeholder="Введите пароль">
    </b-form-input>
  </b-form-group>
  <b-button variant="primary" type="submit">Войти</b-button>
  <b-button variant="danger" type="reset">Сброс</b-button>
</b-form>