<transition name="growler-fade">
<div class="wrapp">
    <b-card class="card-growler">
      <div
        @click.native="remove">
        {{ $props.notification.message }}
      </div>
      <font-awesome-icon
        class="close-icon" 
        :icon="cross"
        @click="remove"></font-awesome-icon>
    </b-card>
</div>
</transition>