.wrapp
  position: relative
  margin-bottom: 10px
  .card-growler
    min-width: 250px
    padding: 5px
    .close-icon
      position: absolute
      top: 5px
      right: 7px
      cursor: pointer

.growler-fade-enter-active
  transition: all .3s ease

.growler-fade-leave-active
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0)

.growler-fade-enter, .growler-fade-leave-to
  transform: translateX(10px)
  opacity: 0