<b-container>
	<div v-if="isLoading">
		Загрузка...
	</div>
	<div class="wrapper" v-else>
		<div
			v-if="!posts.length">
			<h1>Постов нет</h1>
		</div>
		<v-card-post
			v-else
			v-for="post, index in posts"
			:post="post"
			:index="index"
			:key="index" />
		</div>
	</div>
</b-container>