<b-container>
  <b-card>
    <div class="wrapp">
      <div class="auth">
        <router-view/>
      </div>
      <div class="rightBlock">
        <b-card title="Впервые на нашем портале ?"
            sub-title="Мы предлагаем вам пройти простую форму регистрации">
        <p class="card-text">
          У вас уже есть аккаунт ? 
        </p>
        <a href="#"
           class="card-link" @click="login">Войти</a>
        <b-link href="#"
                class="card-link" @click="reg">Регистрации</b-link>
    </b-card>
      </div>
    </div>
  </b-card>
</b-container>