<div class="wrapp-form">
    <div class="wrapp-form__inputForm">
      <b-form>
        <b-form-group id="title"
                      label="Название поста:"
                      label-for="titleInput">
          <b-form-input id="titleInput"
                        type="text"
                        v-model="form.title"
                        required
                        placeholder="Пример: Новый Год ^^">
          </b-form-input>
        </b-form-group>

        <b-form-group id="description"
                      label="Описание поста:"
                      label-for="descriptionInput">
          <b-form-input id="descriptionInput"
                        type="text"
                        v-model="form.description"
                        required
                        placeholder="Пример: Пост о мандарин ^^">
          </b-form-input>
        </b-form-group>

        <b-form-group id="body"
                      label="Содержимое поста:"
                      label-for="bodyInput">
          <b-form-textarea id="bodyInput"
                      v-model="form.body"
                      placeholder="Пример: Мандарин много не бывает :3"
                      required
                      :rows="3"
                      :max-rows="6">
          </b-form-textarea>
        </b-form-group>
        
        <b-button @click="save" variant="primary">Запостить</b-button>
        <b-button @click="reset" variant="danger">Сброс</b-button>
      </b-form>
    </div>
</div>