<div class="wrapp">
    <b-card :title="post.title"
        :sub-title="post.description"
        class="content">

    <p class="card-text" v-if="post.body.length > 200">
        {{ readMore(post.body) }} <br /> <span class="readMore" @click="isOpened = !isOpened" v-if="!isOpened">Читать далее...</span>
                                        <span class="readMore" @click="isOpened = !isOpened" v-else>Скрыть текст</span>
    </p>    
    <p class="card-text" v-else>
        {{ post.body }}
    </p>
    <p class="createdAt">
      {{ post.created | timeAgo}}
    </p>
    <div class="footer-card">
        <div class="info">
            автор: <b-link href="#"
            class="card-link">
            {{ post.author.username }}
            </b-link>
        </div>
        <div class="disAndLike">
            <div 
                :class="{active: post.isLiked}"
                class="like"
                @click="addLike(0, post._id)">
                <font-awesome-icon :icon="like"></font-awesome-icon><span>+{{ post.likes }}</span></div>
            <div 
                :class="{active: post.isDisLiked}" 
                class="dis"
                @click="addDislike(1, post._id)">
                <font-awesome-icon :icon="dis"></font-awesome-icon><span>-{{ post.disliked }}</span></div>
        </div>
        <div class="comments" v-if="!isOpenedComment">
            <font-awesome-icon 
                :icon="comments" 
                class="comments-icon"></font-awesome-icon><span class="comment" @click="isOpenedComment = !isOpenedComment">Коментарии</span>
        </div>
        <div class="comments" v-else>
            <font-awesome-icon 
                :icon="times" 
                class="comments-icon"></font-awesome-icon><span class="comment" @click="isOpenedComment = !isOpenedComment">Скрыть</span>
        </div>
    </div>
    </b-card>

    <div class="comments-users" v-if="isOpenedComment">
        <b-card>
            <div 
                class="user-answer" 
                v-for="comment, i in post.comments"
                :key="i">
                    <b-link href="#"
                        class="card-link">
                        {{ comment.username }}
                    </b-link> 
                    <span class="createdAt">
                        {{ comment.created | timeAgo}}
                    </span> <br/>
                    <span>
                        {{ comment.message }}
                    </span>
                    <hr>
            </div>

            <div class="comment-input">
                <b-form-input id="passwordInput"
                    type="text"
                    v-model="commentUser"
                    placeholder="Введите комментарий">
                </b-form-input>
                <font-awesome-icon 
                    @click="addComment(post._id, post.author._id, index, username)"  
                    :icon="plus" 
                    class="comment-input__add"></font-awesome-icon>

            </div>
        </b-card>
    </div>
</div>