.createdAt
  font-size: 14px
  color: #969696


.content
  max-width: 85%
  margin-bottom: 5px
  &:last-child
    margin-bottom: 15px
  .readMore
    cursor: pointer
    color: #007bff
    &:hover
      text-decoration: underline
.footer-card
  display: flex
  .disAndLike
    margin-left: 20px
    display: flex
    .like
      color: green
      cursor: pointer
      opacity: .5
      span
        margin-left: 5px
      &:hover
        opacity: 1
    .dis
      color: red
      cursor: pointer
      opacity: .5
      margin-left: 5px
      span
        margin-left: 5px
      &:hover
        opacity: 1
    .active
      opacity: 1
      
  .comments
    margin-left: 550px
    .comments-icon
      color: #007bff
    .comment
      margin-left: 5px
      cursor: pointer
      &:hover
        text-decoration: underline

.comments-users
  max-width: 85%
  margin: 0 auto
  margin-bottom: 10px

.comment-input
  display: flex
  margin-top: 15px
  &__add
    width: 20px
    height: 20px 
    color: #007bff
    margin: 8px 10px
    cursor: pointer