<b-navbar toggleable="md" type="dark" variant="dark">
		<b-container>

		<b-navbar-brand href="#" @click="posts">VEGNER-BLOG</b-navbar-brand>
	
		<b-collapse is-nav id="nav_collapse">
	
			<b-navbar-nav>
				<b-nav-item href="#" @click="posts">Посты</b-nav-item>
			</b-navbar-nav>
	
			<!-- Right aligned nav items -->
			<b-navbar-nav class="ml-auto">
					<b-navbar-nav right v-if="!auth">
						<b-nav-item @click="signin">Войти</b-nav-item>
						<b-nav-item @click="signup">Регистрация</b-nav-item>
					</b-navbar-nav>

				<!-- <b-nav-form v-if="auth">
					<b-form-input size="sm" class="mr-sm-2" type="text" placeholder="поиск по сайту"/>
					<b-button size="sm" class="my-2 my-sm-0" type="submit">Поиск</b-button>
				</b-nav-form> -->

				<b-nav-item-dropdown right v-if="auth">
					<!-- Using button-content slot -->
					<template slot="button-content">
						<em>{{ username }}</em>
					</template>

					<b-dropdown-item href="#" @click="newPost">Новый пост</b-dropdown-item>
					<hr />
					<b-dropdown-item href="#" @click="logout" class="logout">Выйти</b-dropdown-item>

				</b-nav-item-dropdown>
			</b-navbar-nav>
		</b-collapse>
		</b-container>
	</b-navbar>